# Tarea 1 Bases de Datos 2022-1 Grupo 38

## Integrantes:
* Nicole Rojel Guajardo - 202073129-2
* Kevin Vega Olivas - 202073064-4
* Lucas Martinez Ramos - 201903011-6
* Benjamín Campos Chacana - 202073128-4

## Requisitos para Correr el Notebook

Para poder utilizar este Notebook se debe tener instalado:
- **Python 3**
- **Jupyter**
- La librería **ipython-sql** (Poder ejecutar sql en Jupyter Notebook)
- ToolKit **sqlalchemy**
- PostgreSQL y su conector desde Python(**psycopg2**)

**IMPORTANTE:** Este Jupyter Notebook se conectará a su servicio de Base de Datos PostgreSQL de manera **local**, por lo que **no funcionará correctamente en el entorno Google Collab.**

Para instalar las dependencias, ejecute (recuerde actualizar pip3):

In [14]:
! pip3 install ipython-sql
! pip3 install sqlalchemy
! pip3 install psycopg2

#Use to generate names
! pip3 install names

Requirement already satisfied: ipython-sql in c:\users\nikya\appdata\local\programs\python\python310\lib\site-packages (0.4.0)
Requirement already satisfied: six in c:\users\nikya\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython>=1.0 in c:\users\nikya\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (8.2.0)
Requirement already satisfied: prettytable<1 in c:\users\nikya\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: sqlparse in c:\users\nikya\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (0.4.2)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\nikya\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (1.4.35)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\nikya\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in c:\users\nikya\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.3)
Requirement already satisfied: traitlets>=5 in c:\users\nikya\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\nikya\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (0.18.1)
Requirement already satisfied: colorama in c:\users\nikya\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: setuptools>=18.5 in c:\users\nikya\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (58.1.0)
Requirement already satisfied: pickleshare in c:\users\nikya\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: pygments>=2.4.0 in c:\users\nikya\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (2.11.2)
Requirement already satisfied: decorator in c:\users\nikya\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: stack-data in c:\users\nikya\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\nikya\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.28)
Requirement already satisfied: backcall in c:\users\nikya\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\nikya\appdata\local\programs\python\python310\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.1.2)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\nikya\appdata\local\programs\python\python310\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: wcwidth in c:\users\nikya\appdata\local\programs\python\python310\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: asttokens in c:\users\nikya\appdata\local\programs\python\python310\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\nikya\appdata\local\programs\python\python310\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.2.2)
Requirement already satisfied: executing in c:\users\nikya\appdata\local\programs\python\python310\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: sqlalchemy in c:\users\nikya\appdata\local\programs\python\python310\lib\site-packages (1.4.35)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\nikya\appdata\local\programs\python\python310\lib\site-packages (from sqlalchemy) (1.1.2)
Requirement already satisfied: psycopg2 in c:\users\nikya\appdata\local\programs\python\python310\lib\site-packages (2.9.3)
Requirement already satisfied: names in c:\users\nikya\appdata\local\programs\python\python310\lib\site-packages (0.3.0)

## Importar dependencias

In [15]:
from datetime import datetime
import random as r
import names
import string

#Librerías para PostgreSQL
import psycopg2

Para conectarse a la base de datos, completen los datos relevantes en la variable DATABASE_URL.

* Cambie `user` por el usuario que utilizó en Postgres para acceder a la Base de Datos. Por defecto `postgres`.
* Cambie `password` por la contraseña de dicho usuario. **Recuerde borrarla antes de entregar su tarea.**
* Cambie `port` por el puerto en que se ejecuta su servicio de Base de Datos. Por defecto `5432`.
* Cambie `database` por el nombre de la BD (Schema) que creó en Postgres.

Ejemplo: `postgresql://postgres:pass_segura@localhost:5432/tarea-bd`

In [16]:
%reload_ext sql
%env DATABASE_URL=postgresql://postgres:Pass@localhost:5432/postgres

env: DATABASE_URL=postgresql://postgres:Ballena2323@localhost:5432/postgres

Para conectarse de forma declarativa a la Base de Datos, utilice el siguiente código:

In [17]:
#Recuerde cambiar los valores de USER, DBNAME y PASSWORD por los mismos de la celda superior.
connection = psycopg2.connect(
   host="localhost",
   user="postgres",
   dbname='postgres',
   password="Pass"
)

print(connection)
cursor = connection.cursor()

<connection object at 0x00000203CD1DA8A0; dsn: 'user=postgres password=xxx dbname=postgres host=localhost', closed: 0>

## Crear tablas

Aquí inserta el código SQL que creara las tablas de la base de datos:

### Tabla "Usuarios"

In [19]:
%%sql
CREATE TABLE usuarios(
    id_usuario INTEGER GENERATED ALWAYS AS IDENTITY,
    nombre VARCHAR(45) NOT NULL,
    apellido VARCHAR(45),
    correo VARCHAR(45) NOT NULL,
    contraseña VARCHAR(50) NOT NULL,
    fecha_registro TIMESTAMP NOT NULL,
    PRIMARY KEY (id_usuario)
);

 * postgresql://postgres:***@localhost:5432/postgres
(psycopg2.errors.DuplicateTable) la relación «usuarios» ya existe

[SQL: CREATE TABLE usuarios( id_usuario INTEGER GENERATED ALWAYS AS IDENTITY,
    nombre VARCHAR(45) NOT NULL,
    apellido VARCHAR(45),
    correo VARCHAR(45) NOT NULL,
    contraseña VARCHAR(50) NOT NULL,
    fecha_registro TIMESTAMP NOT NULL,
    PRIMARY KEY (id_usuario)
);]
(Background on this error at: https://sqlalche.me/e/14/f405)

### Tabla "Creadores"

In [20]:
%%sql
CREATE TABLE creadores(
    id_creador INTEGER GENERATED ALWAYS AS IDENTITY ,
    nombre VARCHAR(45) NOT NULL,
    apellido VARCHAR(45) NOT NULL,
    popularidad INTEGER,
    estilo VARCHAR(45),
    PRIMARY KEY (id_creador)
);

 * postgresql://postgres:***@localhost:5432/postgres
(psycopg2.errors.DuplicateTable) la relación «creadores» ya existe

[SQL: CREATE TABLE creadores( id_creador INTEGER GENERATED ALWAYS AS IDENTITY ,
    nombre VARCHAR(45) NOT NULL,
    apellido VARCHAR(45) NOT NULL,
    popularidad INTEGER,
    estilo VARCHAR(45),
    PRIMARY KEY (id_creador)
);]
(Background on this error at: https://sqlalche.me/e/14/f405)

### Tabla "Tipos_NTF"

In [21]:
%%sql
CREATE TABLE tipos_nft(
    id_tipo INTEGER GENERATED ALWAYS AS IDENTITY,
    nombre VARCHAR(20) NOT NULL,
    PRIMARY KEY (id_tipo)
);

 * postgresql://postgres:***@localhost:5432/postgres
(psycopg2.errors.DuplicateTable) la relación «tipos_nft» ya existe

[SQL: CREATE TABLE tipos_nft( id_tipo INTEGER GENERATED ALWAYS AS IDENTITY,
    nombre VARCHAR(20) NOT NULL,
    PRIMARY KEY (id_tipo)
);]
(Background on this error at: https://sqlalche.me/e/14/f405)

### Tabla "NFT"

In [22]:
%%sql
CREATE TABLE nft (
    id_nft INTEGER GENERATED ALWAYS AS IDENTITY,
    nombre VARCHAR(45) NOT NULL,
    id_creador INTEGER NOT NULL,
    id_tipo INTEGER,
    PRIMARY KEY (id_nft),
    FOREIGN KEY (id_creador) REFERENCES creadores (id_creador),
    FOREIGN KEY (id_tipo) REFERENCES tipos_nft (id_tipo)
);

 * postgresql://postgres:***@localhost:5432/postgres
(psycopg2.errors.DuplicateTable) la relación «nft» ya existe

[SQL: CREATE TABLE nft (
    id_nft INTEGER GENERATED ALWAYS AS IDENTITY,
    nombre VARCHAR(45) NOT NULL,
    id_creador INTEGER NOT NULL,
    id_tipo INTEGER,
    PRIMARY KEY (id_nft),
    FOREIGN KEY (id_creador) REFERENCES creadores (id_creador),
    FOREIGN KEY (id_tipo) REFERENCES tipos_nft (id_tipo)
);]
(Background on this error at: https://sqlalche.me/e/14/f405)

### Tabla "Precio NFT"

In [23]:
%%sql
CREATE TABLE precio_nft(
    id_nft INTEGER,
    fecha TIMESTAMP NOT NULL,
    precio INTEGER NOT NULL,
    PRIMARY KEY (id_nft, fecha),
    FOREIGN KEY (id_nft) REFERENCES nft (id_nft)
);

 * postgresql://postgres:***@localhost:5432/postgres
(psycopg2.errors.DuplicateTable) la relación «precio_nft» ya existe

[SQL: CREATE TABLE precio_nft( id_nft INTEGER,
    fecha TIMESTAMP NOT NULL,
    precio INTEGER NOT NULL,
    PRIMARY KEY (id_nft, fecha),
    FOREIGN KEY (id_nft) REFERENCES nft (id_nft)
);]
(Background on this error at: https://sqlalche.me/e/14/f405)

### Tabla "Usuario tiene NFT"

In [11]:
%%sql
CREATE TABLE usuario_tiene_nft (
   id_usuario INTEGER,
   id_nft INTEGER,
   PRIMARY KEY (id_usuario, id_nft),
   FOREIGN KEY (id_usuario) REFERENCES usuarios (id_usuario),
   FOREIGN KEY (id_nft) REFERENCES nft (id_nft)
);

 * postgresql://postgres:***@localhost:5432/postgres
(psycopg2.errors.DuplicateTable) la relación «usuario_tiene_nft» ya existe

[SQL: CREATE TABLE usuario_tiene_nft (
   id_usuario INTEGER,
   id_nft INTEGER,
   PRIMARY KEY (id_usuario, id_nft),
   FOREIGN KEY (id_usuario) REFERENCES usuarios (id_usuario),
   FOREIGN KEY (id_nft) REFERENCES nft (id_nft)
);]
(Background on this error at: https://sqlalche.me/e/14/f405)

## Código Generador de Datos

Ejecute este código para cargar datos a las tablas creadas.

PD: Si el codigo tira error por "violar la unicidad de las PK" es por una coincidencia de numeros random, solamente volver a ejecutar el codigo

In [24]:
#Recuerde haber ejecutado todas las celdas anteriores!

# Generador de timestamp aleatorio.
def generate_timestamp():
    year = r.randint(2015,2022)
    month = r.randint(1,12)
    day = r.randint(1,31)
    
    hour = r.randint(0,23)
    minute = r.randint(0,59)
    second = r.randint(0,59)
    
    if month in [4, 6, 9, 11] and day > 30:
        day = 30
        
    if month == 2 and day > 28:
        day = 28
        
    return datetime(year, month, day, hour, minute, second)

def generate_password():
    return ''.join(r.choice(string.ascii_uppercase + string.digits) for x in range(15))

print("Borrando Datos Antiguos...")

# Limpia la base de datos.
connection.commit() # En caso de algun error
query = "TRUNCATE TABLE usuarios, creadores, tipos_nft, nft, precio_nft, usuario_tiene_nft RESTART IDENTITY"
cursor.execute(query)
connection.commit()


print("Generando Datos...")

nft_names = ['Crypto Raptors', 'The Binary Girl', 'Sphere Art', 'Fight Punks', 'Thunder NFT', 'Artistic Alpha', 'Digital Unicorns', 'Bling Bits', 'Secret Stones', 'Crypto Potato', 'Futuristic Realism', 'Nova Auroras', 'Dreamy Imaginations', 'Reflected Light', 'Spells of Genesis', 'Crypto Felines', 'Dose of Art', 'To The Moon', 'Artful Antlers', 
'Butterfly Dust', 'Depressed Dragons', 'Crypto Diamonds', 'Healthy Hedgehogs', 'Crypto Jackpot', 'Minecraft Sphere', 'Crypto Boom', 'Lucky Lizards', 'Rockin Crypto', 'Crystalline Canyon', 'Koala Kickers', 'Clumsy Crocodiles', 'Mountain of Clouds', 'Blizz Blizzard', 'Cryptokitty Ville', 'Cryptonaut', 'Mike Halloween Yodelers', 'The Teacup Pomeranian', 
'Art Dodger', 'Awesome Concept', 'Aliens Abduction', 'Animated Hard Art', 'Ultimate Iconic Crypto (IUC)', 'Hilarious Horses', '1-Love', '0NOZER0', 'Meteorite NFT', 'Bee Token', 'Elephant Treasure Hunt', 'Crypto Life', '1NiTRO', 'Dust Rift', 'Tokenized Superheroes', 'Techno Abstract Aesthetics', 'Digi Gods', 'Outstanding Octopus', 'Panther NFT', 
'Cypherpunk Samurai', 'Rich Rhinos', 'Crypto Punked', 'Funny Frogs', 'Bit NFT', 'Phonetic Phoenix', 'Flame Stinger', 'Fight For The Title', 'Koalas in Love', 'Touchdown', 'Resilient Rats', 'Bloom of Flowers', 'NFT Lord', 'Fair Coin', 'Art Rumble', 'Light Embrace', 'Crypto Bunny Ranch', 'Crypto Pigeon Race', 'Water Wiggle', 'Wowoo World', 
'Crypto Club', 'Crypto Kitties Of War', 'Visionary Crypto', 'Women Power', 'Rainbows Ends', 'Cards of Polo', 'Crypto Kitties', 'Busy Bats', '0xHile', 'Token Watchdogs', 'Non Fungible Nibbles', 'Pandamonium', '3D Me', 'Midas NFTs', 'Graceful Gorillas', 'United Crypto Token (UCT)', 'Crypto Art Gallery', 'Dark Horse Lady', 'Block View', 'Arty Arts', 
'White Storm', 'Krypto Queen', 'Clever Chimp', 'Qat Tree Unicorn', 'Anna Frozen Entertainers', 'Artificial Rocks', '0NOCH0', 'Flame Blade', 'The Gold Betta', 'Doge Pal', 'Elite Fur Dog Race Club', 'Dust Sifter', 'Moonlit Butterfly', 'Art Lover Box', 'Madame Witch', 'Fantasy Token', 'Bitsy', 'Hive City', 'Couch Potato', 'Burger Bits', 'Crypto Potluck', 
'Cyberboxer', 'Calm Crows', 'Crumbs NFT', 'Mint Chocolates', 'Atollon Coral', 'Dapper Dinos', 'Flame Cats', 'Addictive Animals', 'Alice Wonderland Frozen Carolers', 'Coin Dance', 'Giant Coin', 'Silver Lining Pixy', 'Headed Shark Attack', 'Ultimate League Of Paragon', 'Darker Clouds', 'Blue Mood Chip', 'Brush Point', 'Enthusiastic Elephants', 'Ultra Cool Dogs', 
'Pink Sports Cars']

dominios = ["hola.cl", "google.com","usm.cl","prestigio.usm.cl","crypto.co","basededatos.top"]

tipos_nft = [
    ("Imagen",), ("Musica",),("Juegos",), ("Modelo 3D",), ("Pixel",), ("Membresia",),("Arte",),
]

estilos = [
    ("Anime",),("Manga",),("Arte Retro",),("Arte Moderno",),("Impresionismo",),("Barroco",),("Arte Antiguo",),("Arte 3D",),("Paisaje",)
]

n_usuarios = 200
n_creadores = 20
n_nft = len(nft_names)
n_tipos_nft = len(tipos_nft)
n_usuario_tiene_nft = 80

usuarios = []
for _ in range(1, n_usuarios+1):
    nombre = names.get_first_name()
    apellido = names.get_last_name()
    correo = nombre.lower()+"."+apellido[:4].lower()+"@"+r.choice(dominios)
    usuarios.append((nombre,apellido,correo,generate_password(),generate_timestamp()))

creadores = [(names.get_first_name(), names.get_last_name(), r.randint(0,5), r.choice(estilos)) for _ in range(1,n_creadores+1)]

nft = [(nft_names[n], r.randint(1,n_creadores), r.randint(1,n_tipos_nft)) for n in range(n_nft)]

precio_nft = [(r.randint(1,n_nft), generate_timestamp(), r.randint(500, 100000)) for _ in range(300)]

usuario_tiene_nft = [(r.randint(1,n_usuarios),r.randint(1,n_nft)) for _ in range(81)]


insert = [
    "INSERT INTO usuarios (nombre, apellido, correo, contraseña, fecha_registro) VALUES (%s, %s, %s, %s, %s)",
    "INSERT INTO creadores (nombre, apellido, popularidad, estilo) VALUES (%s, %s, %s, %s)",
    "INSERT INTO tipos_nft (nombre) VALUES (%s)",
    "INSERT INTO nft (nombre, id_creador, id_tipo) VALUES (%s, %s, %s)",
    "INSERT INTO precio_nft (id_nft, fecha, precio) VALUES (%s, %s, %s)",
    "INSERT INTO usuario_tiene_nft (id_usuario, id_nft) VALUES (%s, %s)"
]


for usuario in usuarios:
    cursor.execute(insert[0], usuario)

for creador in creadores:
    cursor.execute(insert[1], creador) 

for tipo in tipos_nft:
    cursor.execute(insert[2], tipo)  

for n in nft:
    cursor.execute(insert[3], n)  
    
for precio in precio_nft:
    cursor.execute(insert[4], precio) 
    
for usr in usuario_tiene_nft:
    cursor.execute(insert[5], usr)
    
connection.commit()

print("Todo Listo!")

Borrando Datos Antiguos...
Generando Datos...
Todo Listo!

## Consultas

Escriba aquí las consultas pedidas. Recuerde agregar una descripción _breve_ de cómo funciona la solución. **Escriba las consultas de forma ordenada.**

**NOTA:** Cuando en una consulta diga "X cosa" significa que ustedes deben de elegir ese X por lo que para cualquier otro X debe de funcionar de igual forma.

### Consulta 1
**ID y Nombre del creador de un estilo X con mayor popularidad.**
###### Si hay más de uno, ponga solamente el primero

Ejemplo:

|Id |  Creador      |
|---|-----------|
| 12 |Levi Ackerman |

**Solución:** En esta consulta se mostrara una columna con el id_creador y otra con la concatenación del nombre y el apellido del creador. Dentro de la creacion de esta tabla, se da la condición de que el estilo del creador sea Anime y que solo aparezca el que tenga mayor popularidad.

n de su solución._

In [40]:

%%sql
SELECT
    (id_creador) as "ID", CONCAT(nombre,' ',apellido) as "Creador"
FROM 
   creadores
WHERE
  estilo = 'Seleccione el estilo X' and popularidad = (SELECT MAX(popularidad) FROM creadores)
LIMIT 1;

 * postgresql://postgres:***@localhost:5432/postgres
1 rows affected.

[(6, 'Ginger Delagarza')]

### Consulta 2
**Cantidad de precios que ha tenido históricamente cada NTF.**

Ejemplo:


| NFT     | Cantidad de precios |
|--------------|----------|
| Minecraft Sphere |    3     |
| The Binary Girl     |    7     |
| ...          |   ...    |

**Solución:** Para la consulta se necesitó la unión de la tabla nft con la de precio_nft utilizando un INNER JOIN. Para poder ir contando, se utilizo la función de agregación COUNT en nft.nombre, así cada vez que se repitiera el nombre del nft relacionado a un precio no constante, se le sumara al contador, es decir, se conto cada vez que se repitiera un nombre para poder saber la cantidad de vez que el nft tuvo un precio distinto.

In [42]:
%%sql
SELECT
	(nft.nombre) as "NFT", COUNT(nft.nombre) as "Cantidad de Precios"
FROM 
	nft INNER JOIN precio_nft
ON 
	nft.id_nft = precio_nft.id_nft
GROUP BY 
	nft.nombre;

 * postgresql://postgres:***@localhost:5432/postgres
123 rows affected.

[('Spells of Genesis', 2),
 ('Dose of Art', 1),
 ('Art Rumble', 3),
 ('Aliens Abduction', 2),
 ('Meteorite NFT', 1),
 ('Atollon Coral', 5),
 ('Bling Bits', 2),
 ('Minecraft Sphere', 3),
 ('United Crypto Token (UCT)', 1),
 ('Artificial Rocks', 3),
 ('Light Embrace', 2),
 ('Artistic Alpha', 3),
 ('Crypto Kitties Of War', 6),
 ('Pink Sports Cars', 1),
 ('Cards of Polo', 4),
 ('Addictive Animals', 4),
 ('Visionary Crypto', 4),
 ('Animated Hard Art', 5),
 ('Lucky Lizards', 1),
 ('Bloom of Flowers', 4),
 ('Flame Stinger', 2),
 ('Art Lover Box', 2),
 ('The Gold Betta', 3),
 ('Doge Pal', 3),
 ('Darker Clouds', 3),
 ('Digital Unicorns', 3),
 ('Digi Gods', 2),
 ('Token Watchdogs', 1),
 ('Futuristic Realism', 1),
 ('0NOCH0', 2),
 ('Crypto Felines', 1),
 ('Ultra Cool Dogs', 4),
 ('Crypto Pigeon Race', 2),
 ('Mint Chocolates', 1),
 ('Rainbows Ends', 2),
 ('1-Love', 4),
 ('Alice Wonderland Frozen Carolers', 2),
 ('Tokenized Superheroes', 3),
 ('Anna Frozen Entertainers', 2),
 ('Rich Rhinos', 3),
 ('Secret Stones', 3),
 ('Crypto Club', 5),
 ('Crumbs NFT', 1),
 ('Crypto Art Gallery', 3),
 ('Mountain of Clouds', 2),
 ('Couch Potato', 4),
 ('Panther NFT', 1),
 ('Cryptokitty Ville', 1),
 ('Moonlit Butterfly', 3),
 ('Bee Token', 2),
 ('Crystalline Canyon', 2),
 ('Brush Point', 3),
 ('Reflected Light', 3),
 ('Outstanding Octopus', 3),
 ('Crypto Potluck', 1),
 ('Thunder NFT', 1),
 ('Techno Abstract Aesthetics', 2),
 ('Dust Rift', 1),
 ('Giant Coin', 1),
 ('Women Power', 4),
 ('Funny Frogs', 2),
 ('Midas NFTs', 2),
 ('Calm Crows', 2),
 ('Crypto Punked', 2),
 ('Dark Horse Lady', 1),
 ('Dreamy Imaginations', 1),
 ('Crypto Diamonds', 5),
 ('Madame Witch', 1),
 ('Busy Bats', 5),
 ('Dapper Dinos', 2),
 ('Blizz Blizzard', 2),
 ('Crypto Raptors', 1),
 ('Dust Sifter', 5),
 ('Pandamonium', 2),
 ('Crypto Boom', 2),
 ('Crypto Life', 1),
 ('Koala Kickers', 3),
 ('Krypto Queen', 4),
 ('1NiTRO', 1),
 ('To The Moon', 4),
 ('Graceful Gorillas', 3),
 ('NFT Lord', 2),
 ('Fight Punks', 1),
 ('Mike Halloween Yodelers', 2),
 ('Koalas in Love', 4),
 ('Art Dodger', 1),
 ('Fair Coin', 2),
 ('Cyberboxer', 7),
 ('Cryptonaut', 1),
 ('Sphere Art', 3),
 ('White Storm', 1),
 ('Burger Bits', 4),
 ('The Binary Girl', 3),
 ('Flame Blade', 2),
 ('The Teacup Pomeranian', 1),
 ('Non Fungible Nibbles', 2),
 ('Cypherpunk Samurai', 1),
 ('Ultimate League Of Paragon', 1),
 ('Awesome Concept', 7),
 ('Crypto Potato', 2),
 ('Crypto Bunny Ranch', 2),
 ('Nova Auroras', 5),
 ('3D Me', 3),
 ('Fight For The Title', 1),
 ('Phonetic Phoenix', 2),
 ('Rockin Crypto', 1),
 ('Clumsy Crocodiles', 4),
 ('Flame Cats', 1),
 ('Butterfly Dust', 1),
 ('Silver Lining Pixy', 4),
 ('Crypto Kitties', 2),
 ('Enthusiastic Elephants', 5),
 ('Arty Arts', 1),
 ('Clever Chimp', 1),
 ('Blue Mood Chip', 1),
 ('Coin Dance', 1),
 ('Resilient Rats', 2),
 ('Artful Antlers', 3),
 ('Block View', 3),
 ('0xHile', 3),
 ('Ultimate Iconic Crypto (IUC)', 2),
 ('Bitsy', 2),
 ('Bit NFT', 3)]

### Consulta 3
**El nombre y tipo (nombre del tipo) del NFT históricamente más caro.**
###### Si hay más de uno, ponga solamente el primero
Ejemplo:

| NFT    | Tipo | 
|----------------|--------|
| Minecraft Sphere| Arte 3D |

**Solución:** Se seleccionan las variables que funcionan como los nombres de cada columna, estos eson en cuestion el nombre del NFT y el Tipo, esto se logro ya que al unir las tablas "tiposnft" y "nft" que solamente coincidan en sus casillas, tambien se verifico aquellos NFT que son Null, despues de ello se ordenaron las filas dependiendo del valor del precio de mayor a menor, al final con el "fetch" se selecciono solamente el Nft con el precio mas alto.

In [39]:
%%sql
SELECT
    "NFT" , "Tipo"
FROM (
	SELECT
		nft.id_nft, nft.nombre as "NFT", tipos_nft.nombre as "Tipo"
	FROM
		 tipos_nft left join nft
	ON
		tipos_nft.id_tipo = nft.id_tipo
    )as tablita LEFT JOIN precio_nft
ON
	tablita.id_nft = precio_nft.id_nft
WHERE
	precio_nft.precio > 0
ORDER BY precio_nft.precio DESC
FETCH FIRST 1 ROWS ONLY;

 * postgresql://postgres:***@localhost:5432/postgres
1 rows affected.

[('Doge Pal', 'Arte')]

### Consulta 4
**Nombre y apellido del usuario con más número de NFTs.**

Ejemplo:

| Nombre     | Apellido |
|----------------|--------|
| Levi | Ackerman |

**Solución:** Se selecciona como inicio de las columnas el nombre y apellido, se selecciona del JOIN entre "usuario_tiene_nft" y "usuarios" los nombres, apellidos, el id correspondiente a cada usuario y se crea un contador de todos los nft que tenga ese usuario, cuando se corrobora que el usuario esta presente en las 2 tablas, se reorganiza para así ordenar de mayor a menor las cantidades de nft que tiene cada uno, finalmente se usa "fetch" para seleccionar solo la primera fila, que es el usuario con más nft.

In [45]:
%%sql
SELECT 
    nombre, apellido
FROM
    (SELECT
        usuarios.nombre, usuarios.apellido, usuario_tiene_nft.id_usuario, COUNT(usuario_tiene_nft.id_usuario) as contador
    FROM 
    usuario_tiene_nft INNER JOIN usuarios 
    ON 
    usuario_tiene_nft.id_usuario = usuarios.id_usuario
    GROUP BY 
    usuarios.nombre,usuarios.apellido, usuario_tiene_nft.id_usuario
    ORDER BY
    contador DESC) as usuario_mayor_nft
FETCH FIRST 1 ROWS ONLY;

 * postgresql://postgres:***@localhost:5432/postgres
1 rows affected.

[('Christine', 'Rideout')]

### Consulta 5
**El NFT que más veces cambió de precio historicamente.**

Ejemplo:

|  ID  | NFT | 
|--------|-------|
| 11 |Minecraft Sphere | 

**Solución:** Dentro de esta solución se reciclo la solución de la consulta 2, solo que se ordeno de forma descendiente la cantidad de precios y luego se pide que solo muestre la primera fila, que en este caso seria por orden de ID, pero entre las que tienen más cambios de precio.

In [43]:
%%sql
SELECT
	nft.id_nft as "ID", (nft.nombre) as "NFT", COUNT(nft.nombre) as contador
FROM 
	nft INNER JOIN precio_nft
ON 
	nft.id_nft = precio_nft.id_nft
GROUP BY 
	nft.nombre, "ID"
ORDER BY
	contador DESC
FETCH FIRST 1 ROWS ONLY;

 * postgresql://postgres:***@localhost:5432/postgres
1 rows affected.

[(39, 'Awesome Concept', 7)]

### Consulta 6
**Usuarios que NO tienen un NFT.**

Ejemplo

|Nombre | Apellido|
|--------|-------|
|Guillermo    | Diaz |
|Markus | Person |
|Rick   | Astley |
|... | ...| 

**Solución:** Se seleccionan los Nombres y Apellidos como los títulos de la tabla, se busca a partir del LEFT JOIN entre las tablas "usuarios" y "usuario_tiene_nft" aquellos que coincidan entre si por las filas.  Se usa este JOIN para tomar todas las columnas de la tabla "usuario" que no estén relacionadas a las columnas de la tabla "usuario_tiene_nft", después de eso se seleccionan los usuarios que tienen como NULL en la tabla, significando que no tienen ningún NFT guardado a su id.

In [46]:
%%sql
SELECT 
    nombre, apellido
FROM 
    usuarios LEFT JOIN usuario_tiene_nft
ON 
    usuarios.id_usuario = usuario_tiene_nft.id_usuario
WHERE
    usuario_tiene_nft.id_usuario is null;

 * postgresql://postgres:***@localhost:5432/postgres
127 rows affected.

[('Katrina', 'Lenard'),
 ('Shana', 'Johnson'),
 ('Alfredo', 'Larsen'),
 ('Alvin', 'Lotz'),
 ('Kevin', 'Madore'),
 ('William', 'Cane'),
 ('Benjamin', 'Gray'),
 ('Troy', 'Campbell'),
 ('Adrienne', 'Stabler'),
 ('Roscoe', 'Bickerstaff'),
 ('Jorge', 'Dyer'),
 ('Lora', 'Whitlow'),
 ('Jennie', 'Arms'),
 ('Nancy', 'Bush'),
 ('John', 'Martinez'),
 ('Hubert', 'Ray'),
 ('Barbara', 'Coates'),
 ('Randall', 'Gonzalez'),
 ('Lois', 'Gass'),
 ('Jesse', 'Grey'),
 ('James', 'Meek'),
 ('Gerald', 'Poarch'),
 ('David', 'Wilson'),
 ('Heather', 'Pitcherello'),
 ('Cathy', 'Smith'),
 ('Kieth', 'Martin'),
 ('Aileen', 'Smsith'),
 ('Robert', 'Likens'),
 ('Georgia', 'Salisbury'),
 ('Crystal', 'Faulkner'),
 ('Delmar', 'Fry'),
 ('Angela', 'Murphy'),
 ('Angelica', 'Williamson'),
 ('Amanda', 'Palmour'),
 ('Joseph', 'Brewer'),
 ('Roy', 'Tolentino'),
 ('Terence', 'Franklin'),
 ('Marian', 'Johnson'),
 ('Joshua', 'Anderson'),
 ('Marvin', 'Boyce'),
 ('Martha', 'Seeley'),
 ('Janet', 'Brown'),
 ('Robert', 'Taylor'),
 ('Eduardo', 'Jennins'),
 ('Judy', 'Hart'),
 ('Linda', 'Diamond'),
 ('Patty', 'Rodman'),
 ('Dorothy', 'Mitchel'),
 ('Jasper', 'Maciejewski'),
 ('Paul', 'Hargrove'),
 ('Michael', 'Smith'),
 ('Mark', 'Pries'),
 ('Sarah', 'Rumore'),
 ('Virginia', 'Wronski'),
 ('Roosevelt', 'Crooks'),
 ('Benjamin', 'Null'),
 ('Mae', 'Chen'),
 ('Daniel', 'Quigg'),
 ('Jason', 'Gebhart'),
 ('Kimberly', 'Wagner'),
 ('Alice', 'Vaughn'),
 ('Scott', 'Mcfall'),
 ('Meghan', 'Burke'),
 ('Bryan', 'Hughes'),
 ('Regina', 'Gomez'),
 ('Deloris', 'Hazel'),
 ('Antonio', 'Dunn'),
 ('Christine', 'Chockley'),
 ('Justin', 'Sorrell'),
 ('Augustine', 'Parker'),
 ('Linda', 'Keisel'),
 ('Connie', 'Kindred'),
 ('Miguel', 'Gordon'),
 ('Barbara', 'Six'),
 ('Holly', 'Sandoval'),
 ('Stephanie', 'Raney'),
 ('Alisa', 'Fletcher'),
 ('Eric', 'Peters'),
 ('Carol', 'Wright'),
 ('Thomas', 'Haven'),
 ('Barbara', 'Romero'),
 ('Justin', 'Dickens'),
 ('Yang', 'Henderson'),
 ('Jenny', 'Weiss'),
 ('Joseph', 'Frances'),
 ('Mary', 'Hunter'),
 ('Mary', 'Pagel'),
 ('Carolyn', 'Zuniga'),
 ('Carol', 'Cameron'),
 ('Alan', 'Effinger'),
 ('Kevin', 'Roberts'),
 ('Meredith', 'Martinez'),
 ('Nicole', 'Dant'),
 ('Lilian', 'Otterson'),
 ('Adam', 'Bower'),
 ('Debbie', 'Jenkins'),
 ('Minnie', 'Trace'),
 ('Rena', 'Brackett'),
 ('Velma', 'Servant'),
 ('Damon', 'Kuhn'),
 ('Matthew', 'Gordin'),
 ('Maurice', 'Armstrong'),
 ('Morgan', 'Williamson'),
 ('Marion', 'Sanford'),
 ('Manuel', 'Griffith'),
 ('Willa', 'Kimberlin'),
 ('David', 'Houchins'),
 ('Kerri', 'Wilborn'),
 ('George', 'Mccarthy'),
 ('Leroy', 'Smith'),
 ('John', 'Harb'),
 ('Kylee', 'Nau'),
 ('Adrian', 'Geisinsky'),
 ('Devin', 'Baxter'),
 ('Mia', 'Leonard'),
 ('Charles', 'Surface'),
 ('Ann', 'Farrell'),
 ('Deanna', 'Mullins'),
 ('Roberta', 'Courtney'),
 ('Norma', 'Yutzy'),
 ('George', 'Crum'),
 ('Charles', 'Hales'),
 ('Manuel', 'Graham'),
 ('Linda', 'Smith'),
 ('Christopher', 'Evans'),
 ('Debbie', 'Burbank'),
 ('Kerry', 'White')]

### Consulta 7
**Top 4 NFTs más caros actualmente de un id_tipo X .**

Ejemplo:

|NFT | 
|--------|
|Minecraft Sphere | 
|The Binary Girl |
|Koalas in Love | 
|Art Dodger | 

**Solución:** La solución es un select doble: primero se deben unir las tablas Tipos_NFT con NFT usando un LEFT JOIN para extraer los NFT con el tipo X deseado, y entonces, se une con la tabla Precio_NFT usando un LEFT JOIN para poder obtener los 4 más caros. En total, se usaron tres tablas para resolver este problema.
Para poder utilizar la consulta, se debe reemplazar 'Pixel' con la id_tipo requerida.

In [47]:
%%sql
SELECT
    "NFT"
FROM 
    (SELECT
        nft.id_nft, nft.nombre as "NFT" 
    FROM
        tipos_nft left join nft
    ON
        tipos_nft.id_tipo = nft.id_tipo
    WHERE
        tipos_nft.nombre = 'Pixel' -- Aqui va para identificar el tipo X
    )as tablita LEFT JOIN precio_nft
ON
    tablita.id_nft = precio_nft.id_nft
WHERE
    precio_nft.precio > 0
ORDER BY precio_nft.precio DESC
FETCH FIRST 4 ROWS ONLY
;

 * postgresql://postgres:***@localhost:5432/postgres
4 rows affected.

[('Bloom of Flowers',), ('Thunder NFT',), ('To The Moon',), ('Secret Stones',)]

### Consulta 8
**Los precios de todos los NFTs entre los años 2017 y 2019 inclusive.**

Ejemplo:

|NFT |Precio |
|----|---|
|Minecraft Sphere |  4000 |
|The Binary Girl | 3000| 
| Koalas in Love | 6000 |
|Minecraft Sphere |  1250 |
| ... | ... |

**Solución:** Se seleccionan los valores de la columna nombre de la tabla nft y los valores de la columna precio de la tabla precio_nft,
esto a partir de un INNER JOIN entre estas 2 tablas. Luego para obtener los precios de todos los NFTs entre los años 2017 y 2019, se utiliza un WHERE con la condición de que la fecha del nft esté entre 2017-01-01 y 2019-01-31

In [48]:
%%sql
SELECT 
    nombre, precio
FROM
    precio_nft INNER JOIN nft
ON
    precio_nft.id_nft = nft.id_nft 
WHERE
    fecha BETWEEN '2017-01-01' AND '2019-01-31';

 * postgresql://postgres:***@localhost:5432/postgres
73 rows affected.

[('Minecraft Sphere', 71847),
 ('Ultra Cool Dogs', 62047),
 ('Clumsy Crocodiles', 71350),
 ('Dreamy Imaginations', 59751),
 ('To The Moon', 43483),
 ('Crypto Kitties', 21129),
 ('Visionary Crypto', 93698),
 ('Awesome Concept', 68752),
 ('Couch Potato', 9655),
 ('Silver Lining Pixy', 43949),
 ('Awesome Concept', 63128),
 ('Women Power', 68720),
 ('Crypto Boom', 39890),
 ('Awesome Concept', 618),
 ('The Binary Girl', 44797),
 ('Nova Auroras', 62415),
 ('Midas NFTs', 10431),
 ('Artistic Alpha', 17697),
 ('Couch Potato', 29630),
 ('Digi Gods', 20506),
 ('Crypto Diamonds', 28443),
 ('Cards of Polo', 15739),
 ('Crypto Diamonds', 88668),
 ('0xHile', 64379),
 ('Silver Lining Pixy', 36093),
 ('Sphere Art', 34145),
 ('Dapper Dinos', 18352),
 ('Burger Bits', 43681),
 ('Dust Sifter', 92866),
 ('Artistic Alpha', 20224),
 ('Bloom of Flowers', 15580),
 ('Nova Auroras', 17001),
 ('Crypto Pigeon Race', 49300),
 ('Artful Antlers', 91259),
 ('Crypto Pigeon Race', 28922),
 ('Mountain of Clouds', 48773),
 ('Krypto Queen', 36180),
 ('Dark Horse Lady', 52631),
 ('Women Power', 4013),
 ('Koala Kickers', 99071),
 ('Crypto Kitties', 65718),
 ('United Crypto Token (UCT)', 84332),
 ('Couch Potato', 83342),
 ('Panther NFT', 8961),
 ('Mint Chocolates', 10412),
 ('Mountain of Clouds', 6988),
 ('Pink Sports Cars', 5125),
 ('Spells of Genesis', 92241),
 ('Dose of Art', 12816),
 ('Art Rumble', 6448),
 ('Giant Coin', 71304),
 ('Bit NFT', 88065),
 ('Animated Hard Art', 12123),
 ('Visionary Crypto', 76721),
 ('To The Moon', 92082),
 ('Bitsy', 89005),
 ('Crypto Diamonds', 58637),
 ('Madame Witch', 23409),
 ('Blue Mood Chip', 45766),
 ('Silver Lining Pixy', 82253),
 ('Rich Rhinos', 78277),
 ('Visionary Crypto', 16321),
 ('Clumsy Crocodiles', 91435),
 ('Moonlit Butterfly', 65824),
 ('Artistic Alpha', 18412),
 ('Cyberboxer', 38333),
 ('Graceful Gorillas', 7970),
 ('3D Me', 43231),
 ('Busy Bats', 83539),
 ('Bloom of Flowers', 89222),
 ('Rich Rhinos', 53990),
 ('Bit NFT', 97878),
 ('Dapper Dinos', 94615)]

### Consulta 9 
**Creador al cual le han comprado más NFTs.**

Ejemplo:
   
|Nombre |Apellido |Cantidad |
|-|--|-----|
| Levi |Ackerman |32|

**Solución:** Se selecciona los todos los valores de las columnas id_usuario, id_nft de la tabla usuario_tiene_nft y todos los valores de la columna id_creador de la tabla nft, todo a partir de un INNER JOIN que fusiona todas las columnas relacionadas entre ambas tablas (usuario_tienen_nft y nft). A partir de esto, se crea una tabla, la cual es llamada "tablita". Se realiza un INNER JOIN entre tablita y la tabla creadores, y se seleccionan todos los valores de las columnas nombre y apellido de la tabla creadores. Tambien se toma nft.id_creador, que anteriormente se nombró "creador", de "tablita" para usar la función COUNT, para contar las veces que se repite y se nombre a la columna como "Cantidad". La tabla resultante se ordena de forma descendiente a partir de los valores de "Cantidad" y se limita la tabla a solo 1 fila, mostrando la consulta esperada.

In [49]:
%%sql
SELECT
	creadores.nombre as "Nombre", creadores.apellido as "Apellido", COUNT(tablita.creador) as "Cantidad"
FROM
	(SELECT 
	usuario_tiene_nft.id_usuario, usuario_tiene_nft.id_nft, nft.id_creador as creador
	FROM
	usuario_tiene_nft INNER JOIN nft
	ON
	nft.id_nft = usuario_tiene_nft.id_nft) as tablita INNER JOIN creadores
ON
	tablita.creador = creadores.id_creador
GROUP BY
	"Nombre","Apellido"
ORDER BY 
	"Cantidad" DESC
FETCH FIRST 1 ROWS ONLY;

 * postgresql://postgres:***@localhost:5432/postgres
1 rows affected.

[('Ginger', 'Delagarza', 9)]

### Consulta 10  
**El NFT con mayor precio actual, que pertenezca a un creador X.**

Ejemplo:
   
|NFT |Valor|
|-|-------|
|Minecraft Sphere |18000|

**Solución:** Para solucionar esta consulta, se debió crear un WITH con una tabla temporal donde se comenzó consultando la intersección de creadores y nft para tomar el ID de cada uno y el nombre del nft con la condición de que solo sean de X creador (Tabla: creador_nft), luego se consultó con la tabla anteriormente resultante intersectada con precio_nft para tomar, además de las columnas de la primera tabla, los precios y los años. Finalmente en el SELECT principal se crea una tabla del NFT con su Valor (precio) usando la tabla temporal (tabla creador_nft_precio) cuando el año sea la fecha maxima de creador_nft_precio, luego se ordena descendientemente en base al precio y se extrae el primer valor para saber cual es el nft con mayor precio actual del creador X.

In [26]:
%%sql
WITH creador_nft_precio as (SELECT
								"ID1","NOMBRE","ID2","NFT",precio_nft.precio as "Valor", EXTRACT(YEAR FROM precio_nft.fecha) as "Fecha"
							FROM
								(SELECT 
									creadores.id_creador as "ID1", creadores.nombre as "NOMBRE", nft.id_nft as "ID2", nft.nombre as "NFT"
								FROM
									creadores INNER JOIN nft
								ON 
									creadores.id_creador = nft.id_creador
								WHERE
									creadores.nombre = 'INSERTE X CREADOR') as creador_nft INNER JOIN precio_nft
							ON
								"ID2" = precio_nft.id_nft)
SELECT 
    "NFT","Valor"
FROM
	creador_nft_precio
WHERE
	"Fecha" = (SELECT MAX("Fecha") FROM creador_nft_precio)
ORDER BY
	"Valor" DESC
FETCH FIRST 1 ROWS ONLY

 * postgresql://postgres:***@localhost:5432/postgres
1 rows affected.

[('Crypto Kitties Of War', 37458)]

### Consulta BONUS
###### (Vale por un abrazo psicológico)

**El usuario que posee más dinero en NFTs considerando los precios actuales de estos**

Ejemplo:
   
|Usuario |Dinero|
|-|-------|
|Levi Ackerman |8000001|

**Solución:** Para poder resolver este problema, se creo un WITH comenzando desde la consulta anidada más interna hasta la mas externa. Primero se realizo la combinación de tablas (filtro_usuarios) usuarios y usuario_tiene_nft (INNER JOIN) para poder tener el id del usuario que tiene nft y su nombre, luego se combinó con la tabla nft (usuarios_con_nft) con INNER JOIN para poder saber cual usuario tiene cual nft creando una tabla que contenga el id del usuario y nft mas los nombres respectivos, después se combinó la tabla "usuarios_con_nft" con la de precio_nft para extraer los años y asi finalmente poder crear la tabla final creada en el SELECT principal, donde se usa la tabla temporal "fechas" tanto en el FROM como en el WHERE (para sacar la fecha actual) y asi poner en la tabla la suma de los precios de los NFT actuales comprados por el Usuario con más dinero.

In [25]:
%%sql
WITH fechas as (SELECT 
							"Usuario", EXTRACT(YEAR FROM precio_nft.fecha) as "Fecha", precio_nft.precio as precio
						FROM 
							(SELECT 
								"ID", "Usuario", "ID NFT", nft.nombre "NFT"
							FROM
								(SELECT 
									 usuario_tiene_nft.id_usuario as "ID", CONCAT(usuarios.nombre, ' ', usuarios.apellido) as "Usuario", usuario_tiene_nft.id_nft as "ID NFT"
								FROM
									usuarios INNER JOIN usuario_tiene_nft
								ON
									usuario_tiene_nft.id_usuario = usuarios.id_usuario) as filtro_usuarios INNER JOIN nft
							ON 
								nft.id_nft = "ID NFT") as usuarios_con_nft INNER JOIN precio_nft
						ON
							"ID NFT" = precio_nft.id_nft
						ORDER BY
							"Fecha" DESC)

SELECT 
	"Usuario", SUM(precio) as "Dinero"
FROM
	fechas
WHERE
	"Fecha" = (SELECT MAX("Fecha") FROM fechas)
GROUP BY
	"Usuario"
FETCH FIRST 1 ROWS ONLY

 * postgresql://postgres:***@localhost:5432/postgres
1 rows affected.

[('Anita Hauck', 72161)]